
<div>
    <h2>Send Me a Message</h2>
    <form action="" method="POST">
        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
        <div>
            {{ field.errors }}
            <label>{{ field.label_tag }}</label>
            <p>{{ field }}</p>
        </div>
        {% endfor %}
        <button type="reset">Reset</button>
         <button type="submit">Submit</button>
    </form>
</div>
